div#background-holder {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url('https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/php6wV0bn.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
small.error {
    color: red;
}
input:focus {
    outline: none;
}
div#form-holder {
    padding: 2% 31%;
    border-radius: 40px;
}
form#form-control-holder {
    background-color: rgba(0,0,0,0.6);
    padding: 10px 2px;
    border-radius: 20px;
}
input.input-control {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid grey;
}