<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/register.js}"></script>
</head>
<body>
    <div id = "background-holder">
        <div id = "form-holder">
            <form id = "form-control-holder" class = "text-center" method="post" action="http://localhost:9000/createAccount">
                <section id = "form-control-header">
                    <h2 style="font-weight:bold" class = "text-center text-white">Register</h2>
                    <h5 style="padding: 0px 40px" class = "text-white">Please provide email,username,name,surname and password to register a new account</h5>
                </section>
                <section id = "form-control-holder-body">
                    <section style="padding: 0 15%">
                        <div>
                            <label for="emailControl" class="form-label text-white">Email</label>
                            <input class = "input-control" type="email" id = "emailControl" name = "email" required placeholder="example.mail@virgilio.it">
                            <small id = "emailSupportingText" class = "text-white">Please provide a valid email</small>
                            <div id = "emailErrorContainer"></div>
                        </div>
                        <div>
                            <label for = "usernameControl" class = "form-label text-white">Username</label>
                            <input class = "input-control" type="text" id = "usernameControl" name = "username" required placeholder="Username">
                            <small id = "usernameSupportingText" class = "text-white">Please provide a valid username</small>
                            <div id = "usernameErrorContainer"></div>
                        </div>
                        <div>
                            <label for="passwordControl" class = "form-label text-white">Password</label>
                            <input class = "input-control" type="password" id = "passwordControl" name="password" required>
                            <small id = "passwordSupportingText" class = "text-white">Please provide a valid password</small>
                            <div id = "passwordErrorContainer"></div>
                        </div>
                    </section>
                    <section>
                        <div class = "d-inline-block">
                            <label for ="nameControl" class = "form-label text-white">Name</label>
                            <input class = "input-control" type="text" id = "nameControl" name="name" required placeholder="Name">
                            <small id = "nameSupportingText" class = "text-white">Please provide a valid name</small>
                            <div id = "nameErrorContainer"></div>
                        </div>
                        <div class = "d-inline-block">
                            <label for ="surnameControl" class = "form-label text-white">Surname</label>
                            <input class = "input-control" type="text" id = "surnameControl" name="surname" required placeholder="Surname">
                            <small id = "surnameSupportingText" class = "text-white">Please provide a valid surname</small>
                            <div id = "surnameErrorContainer"></div>
                        </div>
                    </section>
                </section>
                <section id = "form-control-holder-footer" class = "mt-1" style="padding: 0% 25%">
                    <div>
                        <a class = "d-block" href="http://localhost:9000/login">Already have an account? Login</a>
                        <button type = "submit" class = "btn btn-secondary btn-block mt-1">Confirm</button>
                        <button id="resetButton" class = "btn btn-danger btn-block mt-1">Reset</button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>
</html>